/* ---------------------------------
==========styles for desktop===========
------------------------------------ */
/* imports links */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* -----------------
    common styles
----------------- */
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
#active{
    color: white;
    background-color: #DD0000;
}

/*-----------------------
     header styles start
----------------------- */
header{
    width: 98%;
    height: 646px;
    background-color: #161616;
    display: flex;
    align-items: center;
    margin: 2% auto;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 130px;
}
header .model-container img{
    transition: transform 3s;
}
.model-container, .intro-container{
    width:40%;
    margin: 0% auto;
}
.intro-container h1{
    font-size: 70px;
    color: white;
}
.red-text{
    color: red;
}
.intro-container p{
    font-size: 16px;
    color: white;
    margin-bottom: 38PX;
}
.live-btn{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 16px 25px;
    background-color:#DD0000;
    border-radius: 5px;
}
.live-btn:hover{
    background-color: white;
    color: red;
}
.model-container img{
    width: 380px;
    margin-top: 90px;
    display: block;
}
header:hover img{
    transform: scale(1.1);
}

/* --------------------------
    nav and blogs styles
--------------------------- */
.menu-blog-container{
    display: flex;
    padding: 0 1%;
}
/* --------------------------
    menu-btn styles
--------------------------- */
.side-menu{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 312px;
    height: 312px;
    align-items: center;
    flex-direction: column;
    background-color: #161616;
    border-radius: 10px;
}
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #161616;
    margin: 25px;
    width: 252px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}
.menu-btn:hover{
    box-shadow: 1px 1px 10px lightgrey;
}
/* --------------------------
     blogs styles
--------------------------- */
.blogs{
    padding-left: 30px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
    margin-bottom: 160px;
}
.blog{
    width: 312px;
    height: 362px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px lightgrey;
}
.blog:hover{
    box-shadow: 1px 1px 10px black;
}
.blog img{
    width: 100%;
    height: 175px;
    border-radius: 10px 10px 0 0;
}
.blog-details{
    margin-top:10px ;
    padding: 0 23px;
}
.blog-details h3{
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
}
.blog-details p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.blog-details span{
    color: rgba(22, 22, 22, 0.7);
}
.blog-info{
    width: 143px;
    display: flex;
    justify-content: space-between;
}
.tablet-btn{
    visibility: hidden;
}
/* ----------------------
    footer styles start 
-------------------------*/
footer{
    background-color:#161616 ;
    height: 444px;
}
.goal{
    color:white;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 0px;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
    width:20%;
    margin: 0% auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-around;
}
.line {
    margin: 2px 15% 3% 15%;
}
.footer-links{
    width:898px;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    color: #B9B9B9;
}

/* ---------------------------------------
=========style for medium divices============
------------------------------------------- */

@media only screen and (min-width:577px) and (max-width:820px) { 
/*--------- header stylys strat------- */
    header{
        width: 95%;
        height: 398px;
        margin-bottom: 70px;
    }
   
    .intro-container h1{
        font-size: 40px;
    }
    .intro-container p {
        font-size: 14px;
    }
    .live-btn {
        padding: 10px 19px;
        font-size: 15px;
    }
    .model-container img{
        width: 250px;
    }
    /* ---------menu-blog styles strat------ */
    .menu-blog-container{
        padding: 0%;
        margin: 0%;
        width: 98%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .side-menu{
        width: 100%;
        background-color: white;
        height: auto;
        flex-direction: row;
    }
    .menu-btn{
        border: 1px solid lightgrey;
        font-size: 18px;
    }

    .blogs{
        grid-template-columns: repeat(2,50%);
        padding: 0%;
        margin: 0%;
        margin-bottom: 50px;
    }
    .blog{
        width: 100%;
    }
    .hide-blog{
        display: none;
    }
    .tablet-btn{
        visibility: visible;
        text-align: center;
        margin-bottom: 70px;
    }
    .view-all-btn a{
        text-align: center;
    }
    /*------------ syles for footer-------------- */
    footer{
        height:270px;
    }
    .goal{
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .social-media{
        display: flex;
        align-items: center;
        justify-content: center;
        color: aliceblue;
        font-size: 30px;
        width:20%;
        margin: 0% auto;
        margin-top: 10px;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .footer-links{
        width: 630px;
        font-size: 13px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-links p{
        width: 150px;
        margin-top: 15px;
        text-align: center;
    }
}
/*-----------------------------------------------
===========styles for mobile divices=============
------------------------------------------------ */
@media screen and (max-width:576px) {
    header{
        height: 90vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 10px auto 10px auto ;
    }
    .intro-container{
        width: 80%;
        margin-top:60px ;
    } 
    .model-container{
      width: 100%;
    }
    .intro-container h1{
        margin: 18px auto;
        text-align: center;
        width: 80%;
        font-size: 25px;
    }
    .intro-container p{
        margin: 0% auto;
        margin-bottom: 25px;
        font-size: 14px;
        width: 258px;
        height: 48px;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .live-btn{
        font-weight: 400;
        font-size: 18px;
        padding: 8px 12px;
    }
    .model-container img{
        margin: 0px auto 0 auto ;
        width: 70%;
        
    }

/* ----side menu and blog styles -----*/
    .menu-blog-container{
        width: 98%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0% auto;
        padding: 0% auto;
    }
    .side-menu{
        background-color: white;
        margin: 0% auto;
        padding: 0%;
    }
    .menu-btn{
        border: 1px solid lightgrey;
        margin: 10px;
    }
    .blogs{
        grid-template-columns: repeat(1,100%);
        margin: 0% auto;
        padding: 0%;
    }
    .blog{
        width: 100%;
        height: 380px;
    }
    /* -------------footer styles starts------------ */
    footer{
        width: 100%;
        height: 480px;
    }
    .goal{
        font-size: 22px;
        font-weight: 600;
        padding: 22px;
    }
    .social-media{
        display: flex;
        align-items: center;
        justify-content: center;
        color: aliceblue;
        font-size: 30px;
        width:50%;
        margin: 0% auto;
        margin-bottom: 30px;
        justify-content: space-around;
    }
    .footer-links{
        width: 80%;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

}





/* ===========================
    upcamming page styles
============================== */
.matches{
    padding-left: 30px;
    width: 75%;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-bottom: 60px;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 242px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px lightgray;
}
.team:hover{
    box-shadow: 1px 1px 10px black;
}
.match img{
    width: 90px;
    height: 55px;
    margin-bottom: 20px;
}
.flag{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-time h1{
    font-size: 20px;
}
.date-time p{
    font-size: 16px;
    color: #4D4D4D;
}
/* --------------------------
    style for mediam devics
--------------------------- */
@media only screen and (min-width:577px) and (max-width:820px){
    .matches{
        grid-template-columns: repeat(2,50%);
        padding: 0%;
        margin: 0%;
        margin-bottom: 50px;
    }
}
/* --------------------------
    style for mediam devics
--------------------------- */
@media screen and (max-width:576px) {
    .matches{
        grid-template-columns: repeat(1,100%);
        margin: 0% auto;
        padding: 0%;
        margin-bottom: 40px;
    }
    .team img{
        width: 40%;
        height: auto;
    }
}

/* ===========================
    Group page styles
============================== */
.group-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-bottom:30px;
}
.group-list h1{
    text-align: center;
}
.group{
    margin: 0% 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
    background-image: url(images/bg1.jpg);
    background-size: cover;
}
.group:hover{
    border: 0px;
    box-shadow: 1px 1px 10px black;
}
.group h2{
    text-align: center;
    padding: 15px;
    color: white;
}
.group h4{
    font-size: 20px;
    color:white ;
}
.group img{
    width:100px;
    margin-right:10px ;
}
.country{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 3% 10%;
}
/* -------------------------------
    group site styels for phones
---------------------------------- */
@media screen and (max-width:576px){
    .group-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 30px;
    }
    .group{
        margin: 0% auto;
    }
}