/* ---------------------------------
==========styles for desktop===========
------------------------------------ */
/* imports links */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* -----------------
    common styles
----------------- */
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
/*-----------------------
     header styles start
----------------------- */
header{
    width: 98%;
    height: 646px;
    background-color: #161616;
    display: flex;
    align-items: center;
    margin: 2% auto;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 130px;
}
header .half-width img{
    transition: transform 3s;
}
.half-width{
    width:40%;
    margin: 0% auto;
}
.half-width h1{
    font-size: 70px;
    color: white;
}
.red-text{
    color: red;
}
.half-width p{
    font-size: 16px;
    color: white;
    margin-bottom: 38PX;
}
.live-btn{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 16px 25px;
    background-color:#DD0000;
    border-radius: 5px;
}
.half-width img{
    width: 400px;
    margin-top: 90px;
    display: block;
}
header:hover img{
    transform: scale(1.1);
}

/* --------------------------
    nav and blogs styles
--------------------------- */
.menu-blog-container{
    display: flex;
    padding: 0 1%;
}
/* --------------------------
    menu-btn styles
--------------------------- */
.side-menu{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 312px;
    height: 312px;
    align-items: center;
    flex-direction: column;
    background-color: #161616;
    border-radius: 10px;
}
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #161616;
    margin: 25px;
    width: 252px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}
.active{
    color: white;
    background-color: #DD0000;
}
/* --------------------------
    blogs styles
--------------------------- */
.blogs{
    padding-left: 30px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
    margin-bottom: 160px;
}
.blog{
    width: 312px;
    height: 362px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.blog img{
    width: 100%;
    height: 175px;
    border-radius: 10px 10px 0 0;
}
.blog-details{
    margin-top:10px ;
    padding: 0 23px;
}
.blog-details h3{
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
}
.blog-details p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.blog-details span{
    color: rgba(22, 22, 22, 0.7);
}
.blog-info{
    width: 143px;
    display: flex;
    justify-content: space-between;
}
.tablet-btn{
    visibility: hidden;
}
/* ----------------------
    footer styles start 
-------------------------*/
footer{
    background-color:#161616 ;
    height: 444px;
}
.goal{
    color:white;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 50px;
}
.line {
    margin: 2px 15% 3% 15%;
}
.footer-links{
    width:898px;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    color: #B9B9B9;
}

/* ---------------------------------------
=========style for medium divices============
------------------------------------------- */

@media only screen and (min-width:481px) and (max-width:768px) { 
/*--------- hesder stylys strat------- */
    header{
        width: 95%;
        height: 398px;
        margin-bottom: 70px;
    }
   
    .half-width h1{
        font-size: 40px;
    }
    .half-width p {
        font-size: 14px;
    }
    .live-btn {
        padding: 10px 19px;
        font-size: 15px;
    }
    .half-width img{
        width: 250px;
    }
    /* ---------menu-blog styles strat------ */
    .menu-blog-container{
        padding: 0%;
        margin: 0%;
        flex-direction: column;
        justify-content: center;
    }
    .side-menu{
        width: 100%;
        background-color: white;
        height: auto;
        flex-direction: row;
    }
    .menu-btn{
        border: 1px solid lightgrey;
        font-size: 18px;
    }

    .blogs{
        grid-template-columns: repeat(2,357px); 
        margin-bottom: 50px;
    }
    .hide-blog{
        display: none;
    }
    .tablet-btn{
        visibility: visible;
        text-align: center;
        margin-bottom: 70px;
    }
    .view-all-btn a{
        text-align: center;
    }
    /*------------ syles for footer-------------- */
    footer{
        height:245px;
    }
    .goal{
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .footer-links{
        width: 630px;
        font-size: 13px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-links p{
        width: 150px;
        margin-top: 15px;
        text-align: center;
    }
}
/*-----------------------------------------------
===========styles for mobile divices=============
------------------------------------------------ */
@media screen and (max-width:476px) {
    header{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto 10px auto ;
    }
    .half-width{
      width: 100%;
    }
    .half-width h1{
        margin: 18px auto;
        text-align: center;
        width: 80%;
        font-size: 22px;
    }
    .half-width p{
        margin: 0% auto;
        margin-bottom: 25px;
        font-size: 10px;
        width: 258px;
        height: 48px;
        overflow: hidden;
    }
    .live-btn{
        font-weight: 400;
        font-size: 18px;
        padding: 8px 12px;
    }
    .half-width img{
        margin: 40px auto 0 auto ;
        width: 75%;
        
    }


    .menu-blog-container{
        width: 98%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0% auto;
        padding: 0% auto;
    }
    .side-menu{
        background-color: white;
        margin: 0% auto;
        padding: 0%;
    }
    .menu-btn{
        border: 1px solid lightgrey;
        margin: 10px;
    }
    .blogs{
        grid-template-columns: repeat(1,100px);
        margin: 0% auto;
        padding: 0%;
    }
    .blog{
        width: 320px;
        height: 370px;
    }
    footer{
        display: none;
    }
}
